.contenedor-card-crear-producto {
  text-align: center;
  background-color: gray;
  width: 40vh;
  margin: auto;
  border-radius: 10px;
}
.btn-actualizar {
  margin-top: 25px;
  width: 55% !important;
  background-color: rgb(58, 56, 56) !important;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  margin-bottom: 15px;
  box-shadow: rgb(221, 220, 220) 0px 0px 8px;
}
.btn-actualizar:hover {
  background-color: rgb(26, 25, 25) !important;
  box-shadow: rgb(58, 56, 56) 0px 0px 8px;
}
.conteiner-cuerpo {
  background-image: url("../img/bg_hero_1.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.form-crear-producto {
  box-shadow: rgb(58, 56, 56) 0px 0px 8px;
  border-radius: 10px;
}
