.iniciar-session {
  background-color: aliceblue;
  height: 65vh !important;
  margin-top: 5vh;
  width: 20%;
  border-radius: 10px;
  background-image: url(../img/bg_hero_2.svg);
  background-position: bottom;
  box-shadow: rgb(145, 144, 144) 0px 0px 8px !important;
}
.conteiner-cuerpo {
  min-height: 80vh;
  display: flex;
  background-image: url("../img/imagen-deposito3.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  justify-content: center;
}
.backgaund-imagen {
  height: 11.5vh;
}

.formulario-iniciar-sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contrasenia-iniciar-session,
.usuario-iniciar-session {
  width: 94% !important;
  border-radius: 5px;
  border-color: transparent;
}
.contrasenia-label-iniciar-session,
.usuario-label-iniciar-session {
  margin-top: 3%;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
  font-size: 0.95rem;
}
.btn-iniciar-session {
  margin-top: 13%;
  border-radius: 13px;
  background-color: green;
  color: white;
  border: transparent;
  transition: all 0.3s ease-out;
  width: 94% !important;
}

.btn-iniciar-session:hover {
  background-color: rgb(22, 196, 22);
  box-shadow: rgb(15, 99, 15) 0px 0px 8px;
}

.no-coinciden {
  margin-top: 20vh;
  margin-left: 22%;
  position: absolute;
  color: rgb(2, 0, 0);
  text-align: center;
  width: 60% !important;
  margin-right: 0px;
  border-radius: 12px;
  height: 4vh;
  background: #c97575;
  box-shadow: 15px 15px 30px #b4aaaa, -15px -15px 30px #ffffff;
}
