.codigo-producto {
  padding-top: 1.6%;
}
.btn.btn-primary.btn-sm.d-inline-flex.align-items-center {
  margin-left: 3vh;
  width: 94%;
  background-color: rgb(45, 148, 45);
}

h6#codigo-producto {
  margin-left: 30% !important;
}
.producto-stock {
  margin-bottom: 0.3vh;
}

.btn.btn-primary.btn-sm.d-inline-flex.align-items-center.faltante {
  background-color: rgb(255, 74, 74);
  color: black;
}

.btn.btn-primary.btn-sm.d-inline-flex.align-items-center.poco {
  background-color: rgb(247, 247, 70) !important;
  color: gray;
}
.contenedor-card-productos {
  display: contents;
}
h6#cantidad-producto {
  margin-left: 30% !important;
}

button#btnFiltrar-menor {
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: rgb(58, 56, 56) !important;
  color: white;
  border-radius: 20px;
  border-color: transparent;
  margin-bottom: 15px;
  box-shadow: rgb(221, 220, 220) 0px 0px 8px;
  margin-left: 3vh;
}

button#btnFiltrar-menor:hover {
  background-color: rgb(26, 25, 25) !important;
  box-shadow: rgb(58, 56, 56) 0px 0px 8px;
  border-color: rgb(26, 25, 25) !important;
}

.col.justify-content-center.mt-5 {
  margin-top: 20px !important;
}
